<body>
    <header>
        <nav>
            <div class="title"><a href="/">netless</a></div>
            <ul>
                <li><a href="categories">categories</a></li>
                <li><a href="cart">my cart</a></li>
                <li><a href="account">account</a></li>
                <input class="search-bar" type="text" placeholder="search..."/>
            </ul>
        </nav>
    </header>
    
    <footer></footer>
</body>