<body>
    <header>
        <nav>
            <div class="title"><a href="/">netless</a></div>
            <ul>
                <li><a href="categories">categories</a></li>
                <li><a href="cart">my cart</a></li>
                <li><a href="account">account</a></li>
                <input class="search-bar" type="text" placeholder="search..." />
            </ul>
        </nav>
    </header>

    <div class="container-label">
        <h4>My Cart</h4>
    </div>


    <section class="item-container">
        {{#each items}}
        <figure class="item">
            <figcaption>{{this.itemName}}</figcaption>
            <a href="/item/{{this._id}}/item-detail"><img src="{{ this.imagePath }}" alt="clean hands sanitize"></a>
        </figure>
        {{/each}}

        <div class="break"></div>

        <figure class="buy-btn">
             <form action="/cart/order" method="POST">
                 <a href="/"><button type="submit" class="btn">Place Order</button></a>
             </form> 
        </figure>

    </section>

    <footer></footer>
</body>