<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>netless shopping</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Need to add search bar, cart icoc, and account icon to header -->
    <header>
        <nav>
            <div class="title"><a href="index.html">netless</a></div>
            <ul>
                <li><a href="categories.html">categories</a></li>
                <li><a href="cart.html">my cart</a></li>
                <li><a href="account.html">account</a></li>
                <input class="search-bar" type="text" placeholder="search..."/>
            </ul>
        </nav>
    </header>

    <div class="container-label">
        <h4>All Categories</h4>
    </div>

    <section class="item-container">
        <figure class="item">
            <figcaption>Cleaning Products</figcaption>
            <img src="img/cleaning-products/household-products.jpg">
        </figure>

        <figure class="item">
            <figcaption>Electronics</figcaption>
            <img src="img/electronics/electronic-gadgets.jpeg">
        </figure>
        <figure class="item">
            <figcaption>School Supplies</figcaption>
            <img src="img/school-supplies/school-supplies.png">
        </figure>
    </section>

    <footer>
        a website by don and john 
    </footer>
</body>
</html>

<!-- colors for site: ##5CDB95  green for header, blue: #05386B -->