<body>

    <!-- Need to add search bar, cart icoc, and account icon to header -->
    <header>
        <nav>
            <div class="title"><a href="/">netless</a></div>
            <ul>
                <li><a href="/categories">categories</a></li>
                <li><a href="/cart">my cart</a></li>
                <li><a href="/account">account</a></li>
                <input class="search-bar" type="text" placeholder="search..."/>
            </ul>
        </nav>
    </header>

    <div class="container-label">
        <h4>All Categories</h4>
    </div>

    <section class="item-container">
        <figure class="item">
            <figcaption>Cleaning Products</figcaption>
            <a href="categories/all-items-cleaning"><img src="https://lh3.googleusercontent.com/n_LD7gLBQTyhY1YHkMV-B9LJuTga8q2qgX_skCd0rKdTfjd_uftW3vjWz0XE1inghqI1YrD4GLQziuNM_1XkEg7S5twcwUO78gxPf26eju5_o9MUhjBR5HhYxPP3j_4kpbLIu6UKIA=w2400", alt="cleaning products. click to view all cleaning products."></a>
        </figure>

        <figure class="item">
            <figcaption>Electronics</figcaption>
            <a href="/categories/all-items-electronics"><img src="https://lh3.googleusercontent.com/z3j-5Kni6oW-lYEG-zXOIZN-JO03FUMRbUJOw25vOgG4FmEkgfAKxyPaFf70pnYyc-VO1U-R8Wrj8QdmNCvvqhPz4SDmbBa8NU6cPFFp3s6QbfupmFSKGfTz8STfKmURDewTP2U35Q" alt="Electronics. click to view all in electronics."></a>
        </figure>
        <figure class="item">
            <figcaption>School Supplies</figcaption>
            <a href="categories/all-items-school"><img src="https://lh3.googleusercontent.com/3y8r5juyibwJjzeu_is9MRtHhoozR9Q0YXX6NEq800-bfl0A1eHGUtDJyxxBmKajDTffb2t8XNTcLBmQw-FpGKfojplNZf0uwK9E_p_htT7dL428k3ZefMx3gZaT5fmH8wSCcaUqbg" alt="School supplies. Click to view all school supplies"></a>
        </figure>
    </section>

    <footer>
        a website by don and john 
    </footer>
</body>