<body>

    <!-- Need to add search bar, cart icoc, and account icon to header -->
    <header>
        <nav>
            <div class="title"><a href="/">netless</a></div>
            <ul>
                <li><a href="/categories">categories</a></li>
                <li><a href="/cart">my cart</a></li>
                <li><a href="/account">account</a></li>
                <input class="search-bar" type="text" placeholder="search..."/>
            </ul>
        </nav>
    </header>

    {{#each data}}
    <div class="container-label">
        <h4>{{this.itemName}} {{this.itemPrice}}</h4>
    </div>
    {{/each}}
    <section class="item-container">

    </section>

    <footer>
        a website by don and john 
    </footer>
</body>