<body>

    <!-- Need to add search bar, cart icoc, and account icon to header -->
    <header>
        <nav>
            <div class="title"><a href="/">netless</a></div>
            <ul>
                <li><a href="/categories">categories</a></li>
                <li><a href="/cart">my cart</a></li>
                <li><a href="/account">account</a></li>
                <input class="search-bar" type="text" placeholder="search..."/>
            </ul>
        </nav>
    </header>


    <section class="item-container">
        <figure class="item">
            <figcaption>{{ data.itemName }}</figcaption>
            <a href="/item/:id"><img src="{{ data.imagePath }}" alt="clean hands sanitize"></a>
        </figure>
        <h1>${{data.itemPrice}}</h1>
    </section>

    <footer>
        a website by don and john 
    </footer>
</body>