<body>

    <!-- Need to add search bar, cart icoc, and account icon to header -->
    <header>
        <nav>
            <div class="title"><a href="/">netless</a></div>
            <ul>
                <li><a href="/categories">categories</a></li>
                <li><a href="/cart">my cart</a></li>
                <li><a href="/account">account</a></li>
                <input class="search-bar" type="text" placeholder="search..."/>
            </ul>
        </nav>
    </header>


    <section class="item-container">
        {{#each data}}
        <figure class="item">
        <figcaption>{{this.itemName}}</figcaption>
        <a href="/item"><img src="{{ this.imagePath }}" alt="clean hands sanitize"></a>
    </figure>
    {{/each}}
    </section>

    <footer>
        a website by don and john 
    </footer>
</body>